<div class="main-default">
  <div id="appointment-blocks" class="content">

    {% for appointment in page.appointments %}
    <div class="appointment-block">
      <div class="appointment-block-header">
        <h3 class="appointment-header-content">{{ appointment.name }}</h3>
      </div> <!-- closing info-block-header -->
      <div class="appointment-block-body">
        <div class="appointment-body-content">
          {{appointment.url}}
        </div> <!-- closing info-body-content -->
      </div> <!-- closing info-block-body -->
    </div>
    {% endfor %}

  </div> <!-- closing info-blocks-->
</div> <!-- closing main -->