<div class="central">
  <div id="info-boxes" class="content">
    <div id="left-box" class="info-box">
      <div class="info-box-header">
        <div class="info-header-content">
          <h3>Sprechzeiten</h3>
        </div>
      </div> <!-- closing info-box-header -->
      <div class="info-box-body">
        <div class="info-body-content">
          <table class="info-table">
            <tbody class="info-table-body">
              <tr class="info-entry">
                <td class="info-key">Montag bis Freitag</td>
                <td class="info-value">8:45 bis 12:15 Uhr</td>
              </tr>
              <tr class="info-entry">
                <td class="info-key">Montags und Donnerstags</td>
                <td class="info-value">14:45 bis 18:00 Uhr</td>
              </tr>
              <tr class="info-entry">
                <td class="info-value">Zusätzlich nach Vereinbarung</td>
              </tr>
            <tbody> 
          </table>
        </div>
      </div>
    </div> <!-- closing info-box -->
    <div id="middle-box" class="info-box">
      <div class="info-box-header">
        <div class="info-header-content">
          <h3>Kontakt</h3>
        </div>
      </div>
      <div class="info-box-body">
        <div class="info-body-content">
          <table class="info-table">
            <tbody class="info-table-body">
              <tr class="info-entry">
                <td class="info-key">Telefon</td>
                <td class="info-value">0511 / 928 60 76</td>
              </tr>
              <tr class="info-entry">
                <td class="info-key">Telefax</td>
                <td class="info-value">0511 / 928 60 99</td>
              </tr>
              <tr class="info-entry">
                <td class="info-key">Adresse</td>
                <td class="info-value">Zimmermannstr. 11/13<br>30453 Hannover</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> <!-- closing info-box -->
    <div id="right-box" class="info-box">
      <div class="info-box-header">
        <div class="info-header-content">
          <h3>Anfahrt</h3>
        </div>
      </div>
      <div class="info-box-body" id="info-box-map">

          <div id="mapdiv" class="map-box"></div>
        
      </div>
    </div> <!-- closing info-box -->
  </div> <!-- closing info-boxes -->
</div> <!-- closing main -->
