<header class="header">
    <div class="header-left"></div>
  	<nav class="header-nav">
  		<div id="menu" class="menu">
      <div class="site-logo"></div>
  		<a class="sitename" href="index.html">Arztpraxis Hermes</a>
  		<!-- responsive navigation menu  -->
  		<!--a class="show" href="#menu">Menü</a><a class="hide" href="#hidemenu">Menu</a>
  		<ul class="menu-items">
  		  <li><a href="index.html">Home</a></li>
  		  <li><a href="http://www.openstreetmap.org/directions?to=Zimmermannstr%2011%2F13%2C%2030453#map=19/52.37456/9.69235&layers=N">Anfahrt</a></li>
  		</ul-->
      </div> <!-- closing menu -->
  	</nav>
    <div class="header-right"></div>
</header>
