<header class="header">
  <a class="logo" href="index.html">
    <div class="site-logo"></div>
    <h1 class="sitename">Arztpraxis Hermes</h1>
  </a>
  <!--div class="menu-selector"-->
  <!--
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon menu-selector" for="menu-btn"><span class="navicon"></span></label>
  -->
  <!-- /div -->
  <!--
  <ul class="menu">
    <li class="menu-item"><a href="team.html">Team</a></li>
    <li class="menu-item"><a href="services.html">Leistungen</a></li>
    <li class="menu-item"><a href="images.html">Bilder</a></li>
  </ul>
  -->
</header>
