<header class="header">
  	<nav class="header-nav">
  		<div id="menu" class="menu">
        <!--a class="menu-item" href="images.html">Bilder</a-->
  		  <!-- responsive navigation menu  -->
  		  <!-- a class="show" href="#menu">Menü</a><a class="hide" href="#hidemenu">Menu</a-->
  		  <ul class="menu-items">
          <li class="fullwidth banner">
            <div class="site-logo">
            </div>
  		      <a class="sitename" href="index.html">Arztpraxis Hermes</a>
          </li>
  		    <li class="menu-item" id="home"><a href="index.html">Home</a></li>
          <li class="menu-item" id="team"><a href="team.html">Team</a></li>
          <li class="menu-item" id="services"><a href="services.html">Leistungen</a></li>
          <li class="menu-item" id="images"><a href="images.html">Bilder</a></li>
          <li class="hamburger" id="hamburger"><a href="#">open</a></li>
  		    <!--li class="menu-item" id=><a href="http://www.openstreetmap.org/directions?to=Zimmermannstr%2011%2F13%2C%2030453#map=19/52.37456/9.69235&layers=N">Anfahrt</a></li-->
  		  </ul>

      </div> <!-- closing menu -->
  	</nav>
</header>
