<div class="main">
  <div id="info-blocks" class="content">

    {% for info_block_entry in page.info-blocks %}
    {% assign info_block_type = info_block_entry[1].class %}
    {% assign info_block = info_block_entry[1] %}
    {% assign info_block_title = info_block.title %}
      <div class="info-block">
        <div class="info-block-header">
          <div class="info-header-content">
            <h3>{{ info_block_title }}</h3>
          </div>
        </div> <!-- closing info-block-header -->

        {% if info_block_type == "info-table" %}
          <div class="info-block-body">
              <div class="info-body-content">
                <table class="info-table">
                  <tbody class="info-table-body">
                    {% for table_entry in info_block.table-entries %}
                      <tr class="info-entry">
                        {% assign key = table_entry[0] %}
                        {% assign value = table_entry[1] %}
                        
                        {% if key contains "E-Mail" %}
                          <td class="info-key">{{ key }}</td>
                          <td class="info-value"><a href= "mailto:{{ value }}">{{ value }}</a></td>
                        {% else %}

                          {% if key != "" %}
                            <td class="info-key">{{ key }}</td>
                          {% endif %}
                          {% if value != "" %}
                            <td class="info-value">{{ value }}</td>
                          {% endif %}
                        {% endif %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div> <!-- closing info-body-content -->
          </div> <!-- closing info-block-body -->
        {% elsif info_block_type == "map" %}
          <div class="info-block-body" id="info-block-map">

            <div id="mapdiv" class="map-block"></div>
            <p class="copyright">&copy; <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a> contributors</p>
          </div>

          <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
             integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
             crossorigin=""></script>
          <script>
          var mymap = L.map('mapdiv').setView([52.374766, 9.692085], 15);
          L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          'attribution': "", 
          'useCache': true
          }).addTo(mymap);

          {% for place in info_block.places %}

            var marker = L.marker([{{ place[1].longlat[0] }}, {{ place[1].longlat[1] }}]).addTo(mymap);
            marker.bindTooltip("{{ place[1].label }}", { permanent: true, direction: "{{ place[1].direction }}" });

            {% if place[1].infos %}
              marker.bindPopup("<b>{{ place[1].label }}</b>\
              {% for info in place[1].infos %}\
                <br>{{ info }}\
              {% endfor %}\
                ", {closeOnClick: false, autoClose: false, offset: [0, 20]}).openPopup();
            {% endif %} 
            

          {% endfor %}
          </script>

        {% endif %}
      </div>
    {% endfor %}

  </div> <!-- closing info-blocks-->
</div> <!-- closing main -->
