<div class="main">
  <div id="info-boxes" class="content">

    {% for info_box in page.info-boxes %}
    {% assign info_box_title = info_box[0] %}
    {% assing info_box = info_box[1] %}
      <div class="info-box">
        <div class="info-box-header">
          <div class="info-header-content">
            <h3>{{ info_box_title }}</h3>
          </div>
        </div> <!-- closing info-box-header -->

        {% if info_box.class == "info-table" %}
          <div class="info-box-body">
              <div class="info-body-content">
                <table class="info-table">
                  <tbody class="info-table-body">
                    {% for info_entry in info_box.info-entries %}
                      <tr class="info-entry">
                        {% assign key = info_entry[0] %}
                        {% assign value = info_entry[1] %}
                        {% if key != "" %}
                          <td class="info-key">{{ key }}</td>
                        {% endif %}
                        {% if value != "" %}
                          <td class="info-value">{{ value }}</td>
                        {% endif %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div> <!-- closing info-body-content -->
          </div> <!-- closing info-box-body -->
        {% elsif info_box[1].class == "map" %}
          <div class="info-box-body" id="info-box-map">

            <div id="mapdiv" class="map-box"></div>
            <p class="copyright">&copy; <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a> contributors</p>
          </div>
        {% endif %}
      </div>
    {% endfor %}

  </div> <!-- closing info-boxes -->
</div> <!-- closing main -->
