.footer {

	display: grid;
	grid-template-columns: 24% auto 24%;
	grid-template-areas:
		"footer-left footer-nav footer-right";
	z-index: 9999;
	background-color: $footer-bar-color;
	// box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.6);
}

.footer-nav{
	grid-area: footer-nav;
}

.footer-left {
	grid-area: footer-left;
}

.footer-right {
	grid-area: footer-right;
}


