:root {

	--info-block-width: 25em;
	
	--appointment-block-body-height: 66em;
	--employee-block-body-height: 66em;
	--info-block-body-height: 25em;
	--info-block-body-font-size: 1.3em;
	
	--info-block-header-height: 5em;
	--info-block-header-font-size: 1.8em;

	--info-block-padding: 0.8em;
}

.page {

	height: 100vh;
	width: 100%;
	
	display: grid;
	grid-template-columns: auto auto auto; // minmax(0, 30em) auto minmax(0, 30em); //minmax(min-content, 80%) auto;
	grid-template-rows: 4em auto auto auto 2em;
	grid-template-areas:
		". . ."
		". current ."
		". main ."
		". . ."
		"footer footer footer";
}

.page-default {

	height: 100vh;
	width: 100vw;
	
	display: grid;
	grid-template-columns: minmax(0, 30em) auto minmax(0, 30em); 
	grid-template-rows: 4em 5em auto auto 2em;
	grid-template-areas:
		". . ."
		". . ."
		". main-default ."
		". . ."
		"footer footer footer";
}

.main-default {
	grid-area: main-default;
}

.current {
	grid-area: current;
}

.main {
	grid-area: main;
}

.footer {
	grid-area: footer;
}

@import 'layout/navigation';
@import 'layout/header';
@import 'layout/current';
@import 'layout/main';
@import 'layout/team';
@import 'layout/appointments';
@import 'layout/gallery';
@import 'layout/footer';
