:root {

	--info-box-width: 25em;
	
	--info-box-body-height: 25em;
	--info-box-body-font-size: 1.3em;
	
	--info-box-header-height: 5em;
	--info-box-header-font-size: 1.8em;
}

.page {
	height: 100%;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: 4em 10em auto auto 10em;
	grid-template-areas:
		"header header header"
		". . ."
		". main ."
		". . ."
		"footer footer footer";
}

// @media only screen and (max-aspect-ratio: 1/1) {
// 
// 	.page {
// 		grid-template-columns: 4em auto 4em;
// 	}
// }
// 
// @media only screen and (min-aspect-ratio: 1/1) {
// 
// 	.page {
// 		grid-template-columns: 4em auto 4em;
// 	}
// }
// 
// @media only screen and (min-aspect-ratio: 4/3) {
// 
// 	.page {
// 		grid-template-columns: 16em auto 16em;
// 	}
// }
// 
// // wide view display
// @media only screen and (min-aspect-ratio: 16/9) {
// 
// 	.page {
// 		grid-template-columns: 30em auto 30em;
// 	}
// 
// }



.header {
	grid-area: header;
}

.main {
	grid-area: main;
}

.footer {
	grid-area: footer;
}

@import 'layout/navigation';
@import 'layout/header';
@import 'layout/main';
@import 'layout/footer';
