@import 'styling/colors';

@mixin box-shadow($property) {
    -webkit-box-shadow: $property;
    -moz-box-shadow: $property;
    box-shadow: $property;
}


body {
  background: url(../img/background-transparent.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2 {
  font-family: "Signika", sans-serif;
  font-weight: 600;
}
h1 {
  color: #e0e0e0;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: color(default, base, primary);
}

@import 'styling/header';
@import 'styling/main';
@import 'styling/footer';
