@import 'styling/colors';

@mixin box-shadow($property) {
    -webkit-box-shadow: $property;
    -moz-box-shadow: $property;
    box-shadow: $property;
}

@mixin background-size($property) {

	-webkit-background-size: $property;
	-moz-background-size: $property;
	-o-background-size: $property;
	background-size: $property;
}

body {
  position: relative;
}

.pagebg-container {
	background: url(../img/background-transparent.png);
  	background-position: center top;
  	background-repeat: no-repeat;
	@include background-size(cover);
  	
	height: 100%;  
  	position: fixed;
  	width: 100%;

	z-index: -9999;
}

// h1, h2 {
//   font-family: "Signika", sans-serif;
//   font-weight: 600;
// }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: color(default, base, primary);
}

@import 'styling/header';
@import 'styling/main';
@import 'styling/team';
@import 'styling/appointments';
@import 'styling/gallery';
@import 'styling/footer';
