---
---

@use "sass:map";


$default-font-family: {{ site.styling.fonts.default.base.family }};

$colors: (

	default: (
		base: (
			primary: {{ site.styling.colors.default.base.primary }},
			text: {{ site.styling.colors.default.base.text }}
		),
		header: (
			background-color: {{ site.styling.colors.default.header.background-color }},
			box-shadow: {{ site.styling.colors.default.header.box-shadow }}
		),
		footer: (
			background-color: {{ site.styling.colors.default.footer.background-color }}
		),
		sitename: (
			color: {{ site.styling.colors.default.sitename.color }}
		),
		info-block: (
			background-color: {{ site.styling.colors.default.info-block.background-color }},
			opacity: {{ site.styling.colors.default.info-block.opacity }},
			box-shadow: {{ site.styling.colors.default.info-block.box-shadow }}
		)
	)

);


$fonts: (
	default: (
		base: (
			style: {{ site.styling.fonts.default.base.style }},
			variant: {{ site.styling.fonts.default.base.variant }},
			weight: {{ site.styling.fonts.default.base.weight }},
			size: {{ site.styling.fonts.default.base.size }},
			line-height: {{ site.styling.fonts.default.base.line-height }},
			family: $default-font-family
		),
		heading-info-block: (
			size: {{ site.styling.fonts.default.heading-info-block.size }},
			line-height: {{ site.styling.fonts.default.heading-info-block.line-height }}
		),
		heading-title: (
			size: {{ site.styling.fonts.default.heading-title.size }},
			line-height: {{ site.styling.fonts.default.heading-title.line-height }}
		),
		menu-item: (
			size: {{ site.styling.fonts.default.menu-item.size }},
			line-height: {{ site.styling.fonts.default.menu-item.line-height }}
		)
	)
);

@function color($variant, $selector, $color-name) {
	@return map-get(map-get(map-get($colors, $variant), $selector), $color-name);
}

@function font($variant, $selector, $name) {
	@return map-get(map-get(map-get($fonts, $variant), $selector), $name);
}

$background-color: color(default, base, primary);

@import "main";
