%bar-styling {
	z-index: 9999;
}

%header-styling {
	@extend %bar-styling;
	background-color: color(default, header, background-color);
	@include box-shadow(color(default, header, box-shadow));
}

.header {
	@extend %header-styling;
}

.site-logo {

	height: 2em;
	width: 2em;
	background: url("../img/logo.svg");
  	background-position: center top;
  	background-repeat: no-repeat;
	@include background-size(cover);
 
}

.sitename {
  font-size: font(default, heading-title, size);
  line-height: font(default, heading-title, line-height);

}
a.sitename, a:visited.sitename {
  // color: #e0e0e0;
  color: color(default, sitename, color);
}
