%bar-styling {
}

%header-styling {
	@extend %bar-styling;
	background-color: color(default, header, background-color);
	@include box-shadow(color(default, header, box-shadow));
}

.header {
	@extend %header-styling;
}

.site-logo {

	height: 2em;
	width: 2em;
	background: url("../img/logo.svg");
  	background-position: center top;
  	background-repeat: no-repeat;
	@include background-size(cover);
	margin-right: 1em; 
}


.menu-item > a, .menu-item > a:visited {
  color: color(default, menu-item, color);
}

.sitename {
  color: color(default, sitename, color);
}
