%bar-styling {
	z-index: 9999;
}

%header-styling {
	@extend %bar-styling;
	background-color: color(default, header, background-color);
	@include box-shadow(color(default, header, box-shadow));
}

.header {
	@extend %header-styling;
}

.sitename {
  font-size: font(default, heading-title, size);
  line-height: font(default, heading-title, line-height);

}
a.sitename, a:visited.sitename {
  // color: #e0e0e0;
  color: color(default, sitename, color);
}
