/* MAIN */

.info-box {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.03);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.03);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.03);
}

.info-box-header {
	background-color: color(default, info-block, background-color);
	opacity: color(default, info-block, opacity);
}

.info-box-body {
	background-color: color(default, info-block, background-color);
	opacity: color(default, info-block, opacity);
}

.info-body-content {
	font-size: var(--info-box-body-font-size);
}

.info-header-content {
	text-align: center;
	font-size: font(default, heading-info-block, size);
	line-height: font(default, heading-info-block, line-height);
}

.copyright {
	margin-top: 0;
	color: rgba(0,0,0,0.3);
}
.copyright a {
	color: color(default, base, primary);
}

/* INFO TABLE */

.info-key::after {
	content: ":";
}
