<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "de" }}">
  {%- include head.html -%}
<body>

  <div class="pagebg-container"></div>

  {%- include header.html -%}
  <div class="page-default">
    <div class="main-default notification-banner">
      <strong>Wir bauen um, die Terminvergabe steht in kürze wieder zur Verfügung</strong>
    </div>
    {% if site.enabled-footer %}
      {%- include footer.html -%}
    {% endif %}
    
  </div> <!-- closing page-->
</body>
</html>
