<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "de" }}">
  {%- include head.html -%}
<body>
  <div class="page">
  
    {%- include header.html -%}
  
    {%- include main.html -%}

    {% if site.enabled-footer %}
      {%- include footer.html -%}
    {% endif %}
    
  </div> <!-- closing page-->
</body>

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
<script>
var mymap = L.map('mapdiv').setView([52.374766, 9.692085], 15);
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
'attribution': "", 
'useCache': true
}).addTo(mymap);

var marker = L.marker([52.374766, 9.692085]).addTo(mymap);
</script>

</html>
