.header {

	display: grid;
	grid-template-columns: minmax(0, 25em) auto minmax(0, 25em);
	grid-template-areas:
		"header-left header-nav header-right";
	grid-column-gap: 3rem;

	// position: sticky;

	overflow: hidden;
  	position: fixed; /* Set the navbar to fixed position */
  	top: 0; /* Position the navbar at the top of the page */
  	width: 100%; /* Full width */
	height: 4em;
}

.menu {
	height: 100%;
	display: flex;
	align-items: center;
}

.sitename {
	white-space: nowrap;
}

.header-nav {
	height: 100%;
}

.header-nav {
	grid-area: header-nav;
}

.header-left {
	grid-area: header-left;
}

.header-right {
	grid-area: header-right;
}
