/* MAIN */

#info-blocks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.info-block {
	
	margin-bottom: 2.5em;
	margin-top: 2.5em;
	margin-left: 1em;
	margin-right: 1em;
}

#mapdiv {
	width: 100%;
	height: 100%;
}

%info-block-layout {

	box-sizing: border-box;
	padding: var(--info-block-padding) var(--info-block-padding) var(--info-block-padding) var(--info-block-padding);
	width: var(--info-block-width);
}


.info-block-header {

	@extend %info-block-layout;

	display: flex;
	align-items: center;
	justify-content: center;
	
	margin: 0em 0em 0.5em 0em;
	height: var(--info-block-header-height);

}

.info-block-body {

	@extend %info-block-layout;

	margin: 0em 0em 0em 0em;
	height: var(--info-block-body-height);
}

#info-block-map {
	padding: 0em 0em 0em 0em;
}

.info-body-content {
	height: 100%;
}

.info-header-content {
}

/* INFO TABLE */

.info-table {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

}

.info-table-body {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.info-entry {
	display: flex;
	flex-direction: column;
}

.info-key {
	align-self: flex-start;

}

.info-value {
	align-self: flex-end;

}
