/* MAIN */

#info-boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.info-box {

	margin-top: 5em;

    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.03);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.03);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.03);
}

#mapdiv {
	width: 100%;
	height: 100%;
}

.info-box-header {
	margin: 0em 0em 0.5em 0em;
	padding: 0.5em 0.5em 0.5em 0.5em;
	
	width: var(--info-box-width);
	height: var(--info-box-header-height);

	background: green;

	box-sizing: border-box;

    background: rgba(255,255,255,0.4);
/*
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.03);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.03);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.03);
*/
}

.info-box-body {
	margin: 0em 0em 0em 0em;
	height: var(--info-box-body-height);
	width: var(--info-box-width);
	padding: 0.5em 0.5em 0.5em 0.5em;

	box-sizing: border-box;

    background: rgba(255,255,255,0.4);
/*
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.03);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.03);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.03);
*/
}

#info-box-map {
	padding: 0em 0em 0em 0em;
}

.info-body-content {
	height: 100%;
	font-size: var(--info-box-body-font-size);

	/*background: yellow;*/
}

.info-header-content {
	text-align: center;
	font-size: var(--info-box-header-font-size);

	/*background: yellow;*/
}

/* INFO TABLE */

.info-table {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

}

.info-table-body {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.info-entry {
	display: flex;
	flex-direction: column;
}

.info-key {
	align-self: flex-start;

}

.info-key::after {
	content: ":";
}

.info-value {
	align-self: flex-end;

}
